---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Albion Market Prices'>
  <main class='container'>
    <p>Consulta los precios del mercado de Albion West:</p>
		<form action="#">
			<label for="name">Nombre del producto</label>
			<input type="text" name="name">
		</form>
  </main>
</Layout>
