---
import Layout from '../layouts/Layout.astro';
import HomePage from './_vue-views/HomePage.vue';
---

<Layout title='Albion Market Prices'>
  <main>
    <div class='container'>
      <p>Consulta los precios del mercado de Albion West:</p>
    </div>
    <HomePage client:load />
  </main>
</Layout>

<style>
  main {
    padding-top: 0;
  }
</style>
