---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Precios'>
  <main class='container'>
    <img id='item-image' src='' alt='' />

    <h1>Órdenes de venta</h1>
    <div>
      <article class='item'>
        <h2>Precio Min.</h2>
        <table class='striped'>
          <thead>
            <tr>
              <th scope='col'>Ciudad</th>
              <th scope='col' class='price-button'
                >Precio <img class='price-arrow' src='/arrowup.svg' alt='' /></th
              >
              <th scope='col'>Fecha</th>
            </tr>
          </thead>
          <tbody id='sell_price_min'></tbody>
        </table>
      </article>
      <article class='item'>
        <h2>Precio Max.</h2>
        <table class='striped'>
          <thead>
            <tr>
              <th scope='col'>Ciudad</th>
              <th scope='col' class='price-button'
                >Precio <img class='price-arrow' src='/arrowup.svg' alt='' /></th
              >
              <th scope='col'>Fecha</th>
            </tr>
          </thead>
          <tbody id='sell_price_max'></tbody>
        </table>
      </article>
    </div>

    <h1>Órdenes de compra</h1>
    <div>
      <article class='item'>
        <h2>Precio Min.</h2>
        <table class='striped'>
          <thead>
            <tr>
              <th scope='col'>Ciudad</th>
              <th scope='col' class='price-button'
                >Precio <img class='price-arrow' src='/arrowup.svg' alt='' /></th
              >
              <th scope='col'>Fecha</th>
            </tr>
          </thead>
          <tbody id='buy_price_min'></tbody>
        </table>
      </article>
      <article class='item'>
        <h2>Precio Max.</h2>
        <table class='striped'>
          <thead>
            <tr>
              <th scope='col'>Ciudad</th>
              <th scope='col' class='price-button'
                >Precio <img class='price-arrow' src='/arrowup.svg' alt='' /></th
              >
              <th scope='col'>Fecha</th>
            </tr>
          </thead>
          <tbody id='buy_price_max'></tbody>
        </table>
      </article>
    </div>
    <!-- Footnote -->
    <span><strong>*</strong> Datos de las últimas 24 horas.</span>
  </main>
</Layout>

<script lang='js'>
  const params = new URLSearchParams(window.location.search);

  const quality = parseInt(params.get('id') || '1');
  const alias = params.get('alias');

  let tablesInfo;

  document
    .getElementById('item-image')
    .setAttribute('src', `https://render.albiononline.com/v1/item/${alias}.png`);

  fetch(
    `https://west.albion-online-data.com/api/v2/stats/prices/${alias}?locations=Caerleon,Bridgewatch,Fort Sterling,Martlock,Thetford,Lymhurst&qualities=${quality}`
  )
    .then((res) => res.json())
    .then((res) => {
      tablesInfo = divideTablesInfo(res);
      setTables();
    });

  const tableNames = [
    'sell_price_min',
    'sell_price_max',
    'buy_price_min',
    'buy_price_max',
  ];

  let orderBy = 'price-asc';

  function divideTablesInfo(items) {
    const info = {};

    tableNames.forEach((tableName) => {
      info[tableName] = items.map((item) => ({
        city: item.city,
        price: item[tableName],
        date: item[tableName + '_date'],
      }));
    });

    return info;
  }

  function setTables() {
    Object.entries(tablesInfo).forEach(([key, value]) => {
      const table = document.getElementById(key);

      if (orderBy == 'price-asc') value.sort((a, b) => a.price - b.price);
      else if (orderBy == 'price-desc') value.sort((a, b) => b.price - a.price);

      table.innerHTML = value.reduce((prev, curr) => {
        const [date, hour] = curr.date.split('T');
        return (
          prev +
          `<tr>
             <th scope="row"><img class="icon-img" src="https://render.albiononline.com/v1/item/T8_CAPEITEM_FW_${curr.city == 'Fort Sterling' ? 'FORTSTERLING' : curr.city.toUpperCase()}" alt="" />${curr.city}</th>
             <td>${curr.price || '-'}</td>
             <td>${date == '0001-01-01' ? '-' : date + ', ' + hour.slice(0, 5)}</td>
          </tr>`
        );
      }, '');
    });
  }

  function changeOrder(newValue) {
    orderBy = newValue;
    setTables();
  }

  const priceButtons = Array.from(document.getElementsByClassName('price-button'));
  const priceArrow = Array.from(document.getElementsByClassName('price-arrow'));

  priceButtons.forEach((element) =>
    element.addEventListener('click', () => {
      if (orderBy == 'price-desc') {
        changeOrder('price-asc');
        priceArrow.forEach((item) => (item.src = '/arrowup.svg'));
      } else if (orderBy == 'price-asc') {
        changeOrder('price-desc');
        priceArrow.forEach((item) => (item.src = '/arrowdown.svg'));
      }
    })
  );
</script>

<style>
  div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  main {
    padding-top: 0;
  }

  .price-button:hover {
    cursor: pointer;
    filter: brightness(1.5);
  }
</style>

<style is:global>
  .icon-img {
    height: 40px;
    margin-right: 10px;
  }
</style>
