<div>
  <nav class='container'>
    <ul>
      <li><strong>Albion Market Prices</strong></li>
    </ul>
    <ul>
      <li><a href='/'>Home</a></li>
    </ul>
  </nav>
</div>

<style>
  div {
    position: sticky;
    top: 0;
    background-color: #13171f;
    z-index: 999;
  }
</style>
