<form action='#' id='item-form'>
  <fieldset role='group'>
    <input type='text' name='name' placeholder='Nombre del producto' />
    <input type='submit' value='Buscar' />
  </fieldset>
</form>

<style>
  form {
    position: sticky;
    top: 0;
    z-index: 999;
  }
</style>
