---
const { id } = Astro.props;
---

<article>
  <h2>Precio Min.</h2>
  <table class='striped'>
    <thead>
      <tr>
        <th scope='col'>Ciudad</th>
        <th scope='col' class='price-button'
          >Precio <img class='price-arrow' src='/arrowup.svg' alt='' /></th
        >
        <th scope='col'>Fecha</th>
      </tr>
    </thead>
    <tbody id={id}></tbody>
  </table>
</article>
